.block {
    padding: 2rem 4rem;
    background-color: white;
    color: black; 
    height: 100vh; 
}

.header {
    background-color: #fafafa;
}

.title {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    font-family: "Mazius";
}

.title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.text{
    line-height: 1.4;
    font-size: 1.2rem; 
    margin-bottom: 2rem; 
}

@media screen and (max-width: 768px) {
    .block {
        padding: 1rem;
    }

    .header > .title {
        font-size: 2rem;
    }

    .title {
        font-size: 1.5rem;
    }
}
